BOT_TOKEN=PASTE_NEW_TELEGRAM_BOT_TOKEN_HERE
SUPPORT_URL=https://t.me/your_support
CHANNEL_URL=https://t.me/your_channel
BUY_RATE_RUB_PER_1000=1.2
SELL_RATE_RUB_PER_1000=0.85
BUY_RESERVE_BC=10492339
SELL_RESERVE_RUB=99214
